EnhancerForBusiness/mvcInterfazUsuario/Connected Services/srvProducto/srvProducto.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="srvProducto" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:54539/srvProducto.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:54539/srvProducto.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:54539/srvProducto.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entidades" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IsrvProducto_recProducto_ENT_InputMessage">
    <wsdl:part name="parameters" element="tns:recProducto_ENT" />
  </wsdl:message>
  <wsdl:message name="IsrvProducto_recProducto_ENT_OutputMessage">
    <wsdl:part name="parameters" element="tns:recProducto_ENTResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvProducto_recProductoXId_ENT_InputMessage">
    <wsdl:part name="parameters" element="tns:recProductoXId_ENT" />
  </wsdl:message>
  <wsdl:message name="IsrvProducto_recProductoXId_ENT_OutputMessage">
    <wsdl:part name="parameters" element="tns:recProductoXId_ENTResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvProducto_insProducto_ENT_InputMessage">
    <wsdl:part name="parameters" element="tns:insProducto_ENT" />
  </wsdl:message>
  <wsdl:message name="IsrvProducto_insProducto_ENT_OutputMessage">
    <wsdl:part name="parameters" element="tns:insProducto_ENTResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvProducto_modProducto_ENT_InputMessage">
    <wsdl:part name="parameters" element="tns:modProducto_ENT" />
  </wsdl:message>
  <wsdl:message name="IsrvProducto_modProducto_ENT_OutputMessage">
    <wsdl:part name="parameters" element="tns:modProducto_ENTResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvProducto_delProducto_ENT_InputMessage">
    <wsdl:part name="parameters" element="tns:delProducto_ENT" />
  </wsdl:message>
  <wsdl:message name="IsrvProducto_delProducto_ENT_OutputMessage">
    <wsdl:part name="parameters" element="tns:delProducto_ENTResponse" />
  </wsdl:message>
  <wsdl:portType name="IsrvProducto">
    <wsdl:operation name="recProducto_ENT">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvProducto/recProducto_ENT" message="tns:IsrvProducto_recProducto_ENT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvProducto/recProducto_ENTResponse" message="tns:IsrvProducto_recProducto_ENT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="recProductoXId_ENT">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvProducto/recProductoXId_ENT" message="tns:IsrvProducto_recProductoXId_ENT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvProducto/recProductoXId_ENTResponse" message="tns:IsrvProducto_recProductoXId_ENT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insProducto_ENT">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvProducto/insProducto_ENT" message="tns:IsrvProducto_insProducto_ENT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvProducto/insProducto_ENTResponse" message="tns:IsrvProducto_insProducto_ENT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="modProducto_ENT">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvProducto/modProducto_ENT" message="tns:IsrvProducto_modProducto_ENT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvProducto/modProducto_ENTResponse" message="tns:IsrvProducto_modProducto_ENT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="delProducto_ENT">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvProducto/delProducto_ENT" message="tns:IsrvProducto_delProducto_ENT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvProducto/delProducto_ENTResponse" message="tns:IsrvProducto_delProducto_ENT_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IsrvProducto" type="tns:IsrvProducto">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="recProducto_ENT">
      <soap:operation soapAction="http://tempuri.org/IsrvProducto/recProducto_ENT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="recProductoXId_ENT">
      <soap:operation soapAction="http://tempuri.org/IsrvProducto/recProductoXId_ENT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insProducto_ENT">
      <soap:operation soapAction="http://tempuri.org/IsrvProducto/insProducto_ENT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modProducto_ENT">
      <soap:operation soapAction="http://tempuri.org/IsrvProducto/modProducto_ENT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delProducto_ENT">
      <soap:operation soapAction="http://tempuri.org/IsrvProducto/delProducto_ENT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="srvProducto">
    <wsdl:port name="BasicHttpBinding_IsrvProducto" binding="tns:BasicHttpBinding_IsrvProducto">
      <soap:address location="http://localhost:54539/srvProducto.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>