EnhancerForBusiness/mvcInterfazUsuario/Connected Services/srvDetalleVenta/srvDetalleVenta.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54539/srvDetalleVenta.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entidades" />
  <xs:element name="recDetalleVenta_ENT">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="recDetalleVenta_ENTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="recDetalleVenta_ENTResult" nillable="true" type="q1:ArrayOfDetalleVenta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recDetalleVentaXId_ENT">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recDetalleVentaXId_ENTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="recDetalleVentaXId_ENTResult" nillable="true" type="q2:DetalleVenta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insDetalleVenta_ENT">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pDetalleVenta" nillable="true" type="q3:DetalleVenta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insDetalleVenta_ENTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insDetalleVenta_ENTResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modDetalleVenta_ENT">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pDetalleVenta" nillable="true" type="q4:DetalleVenta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modDetalleVenta_ENTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modDetalleVenta_ENTResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delDetalleVenta_ENT">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pDetalleVenta" nillable="true" type="q5:DetalleVenta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delDetalleVenta_ENTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="delDetalleVenta_ENTResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>