old/EnhancerForBusiness/mvcInterfazUsuario/Connected Services/srvCategoria/srvCategoria.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="srvCategoria" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:54539/srvCategoria.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:54539/srvCategoria.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:54539/srvCategoria.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entidades" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IsrvCategoria_recCategoria_ENT_InputMessage">
    <wsdl:part name="parameters" element="tns:recCategoria_ENT" />
  </wsdl:message>
  <wsdl:message name="IsrvCategoria_recCategoria_ENT_OutputMessage">
    <wsdl:part name="parameters" element="tns:recCategoria_ENTResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvCategoria_recCategoriaXId_ENT_InputMessage">
    <wsdl:part name="parameters" element="tns:recCategoriaXId_ENT" />
  </wsdl:message>
  <wsdl:message name="IsrvCategoria_recCategoriaXId_ENT_OutputMessage">
    <wsdl:part name="parameters" element="tns:recCategoriaXId_ENTResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvCategoria_insCategoria_ENT_InputMessage">
    <wsdl:part name="parameters" element="tns:insCategoria_ENT" />
  </wsdl:message>
  <wsdl:message name="IsrvCategoria_insCategoria_ENT_OutputMessage">
    <wsdl:part name="parameters" element="tns:insCategoria_ENTResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvCategoria_modCategoria_ENT_InputMessage">
    <wsdl:part name="parameters" element="tns:modCategoria_ENT" />
  </wsdl:message>
  <wsdl:message name="IsrvCategoria_modCategoria_ENT_OutputMessage">
    <wsdl:part name="parameters" element="tns:modCategoria_ENTResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvCategoria_delCategoria_ENT_InputMessage">
    <wsdl:part name="parameters" element="tns:delCategoria_ENT" />
  </wsdl:message>
  <wsdl:message name="IsrvCategoria_delCategoria_ENT_OutputMessage">
    <wsdl:part name="parameters" element="tns:delCategoria_ENTResponse" />
  </wsdl:message>
  <wsdl:portType name="IsrvCategoria">
    <wsdl:operation name="recCategoria_ENT">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvCategoria/recCategoria_ENT" message="tns:IsrvCategoria_recCategoria_ENT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvCategoria/recCategoria_ENTResponse" message="tns:IsrvCategoria_recCategoria_ENT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="recCategoriaXId_ENT">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvCategoria/recCategoriaXId_ENT" message="tns:IsrvCategoria_recCategoriaXId_ENT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvCategoria/recCategoriaXId_ENTResponse" message="tns:IsrvCategoria_recCategoriaXId_ENT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insCategoria_ENT">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvCategoria/insCategoria_ENT" message="tns:IsrvCategoria_insCategoria_ENT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvCategoria/insCategoria_ENTResponse" message="tns:IsrvCategoria_insCategoria_ENT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="modCategoria_ENT">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvCategoria/modCategoria_ENT" message="tns:IsrvCategoria_modCategoria_ENT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvCategoria/modCategoria_ENTResponse" message="tns:IsrvCategoria_modCategoria_ENT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="delCategoria_ENT">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvCategoria/delCategoria_ENT" message="tns:IsrvCategoria_delCategoria_ENT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvCategoria/delCategoria_ENTResponse" message="tns:IsrvCategoria_delCategoria_ENT_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IsrvCategoria" type="tns:IsrvCategoria">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="recCategoria_ENT">
      <soap:operation soapAction="http://tempuri.org/IsrvCategoria/recCategoria_ENT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="recCategoriaXId_ENT">
      <soap:operation soapAction="http://tempuri.org/IsrvCategoria/recCategoriaXId_ENT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insCategoria_ENT">
      <soap:operation soapAction="http://tempuri.org/IsrvCategoria/insCategoria_ENT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modCategoria_ENT">
      <soap:operation soapAction="http://tempuri.org/IsrvCategoria/modCategoria_ENT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delCategoria_ENT">
      <soap:operation soapAction="http://tempuri.org/IsrvCategoria/delCategoria_ENT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="srvCategoria">
    <wsdl:port name="BasicHttpBinding_IsrvCategoria" binding="tns:BasicHttpBinding_IsrvCategoria">
      <soap:address location="http://localhost:54539/srvCategoria.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>