old/EnhancerForBusiness/mvcInterfazUsuario/Connected Services/srvDetalleVenta/srvDetalleVenta.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="srvDetalleVenta" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:54539/srvDetalleVenta.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:54539/srvDetalleVenta.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:54539/srvDetalleVenta.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entidades" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IsrvDetalleVenta_recDetalleVenta_ENT_InputMessage">
    <wsdl:part name="parameters" element="tns:recDetalleVenta_ENT" />
  </wsdl:message>
  <wsdl:message name="IsrvDetalleVenta_recDetalleVenta_ENT_OutputMessage">
    <wsdl:part name="parameters" element="tns:recDetalleVenta_ENTResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvDetalleVenta_recDetalleVentaXId_ENT_InputMessage">
    <wsdl:part name="parameters" element="tns:recDetalleVentaXId_ENT" />
  </wsdl:message>
  <wsdl:message name="IsrvDetalleVenta_recDetalleVentaXId_ENT_OutputMessage">
    <wsdl:part name="parameters" element="tns:recDetalleVentaXId_ENTResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvDetalleVenta_insDetalleVenta_ENT_InputMessage">
    <wsdl:part name="parameters" element="tns:insDetalleVenta_ENT" />
  </wsdl:message>
  <wsdl:message name="IsrvDetalleVenta_insDetalleVenta_ENT_OutputMessage">
    <wsdl:part name="parameters" element="tns:insDetalleVenta_ENTResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvDetalleVenta_modDetalleVenta_ENT_InputMessage">
    <wsdl:part name="parameters" element="tns:modDetalleVenta_ENT" />
  </wsdl:message>
  <wsdl:message name="IsrvDetalleVenta_modDetalleVenta_ENT_OutputMessage">
    <wsdl:part name="parameters" element="tns:modDetalleVenta_ENTResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvDetalleVenta_delDetalleVenta_ENT_InputMessage">
    <wsdl:part name="parameters" element="tns:delDetalleVenta_ENT" />
  </wsdl:message>
  <wsdl:message name="IsrvDetalleVenta_delDetalleVenta_ENT_OutputMessage">
    <wsdl:part name="parameters" element="tns:delDetalleVenta_ENTResponse" />
  </wsdl:message>
  <wsdl:portType name="IsrvDetalleVenta">
    <wsdl:operation name="recDetalleVenta_ENT">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvDetalleVenta/recDetalleVenta_ENT" message="tns:IsrvDetalleVenta_recDetalleVenta_ENT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvDetalleVenta/recDetalleVenta_ENTResponse" message="tns:IsrvDetalleVenta_recDetalleVenta_ENT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="recDetalleVentaXId_ENT">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvDetalleVenta/recDetalleVentaXId_ENT" message="tns:IsrvDetalleVenta_recDetalleVentaXId_ENT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvDetalleVenta/recDetalleVentaXId_ENTResponse" message="tns:IsrvDetalleVenta_recDetalleVentaXId_ENT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insDetalleVenta_ENT">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvDetalleVenta/insDetalleVenta_ENT" message="tns:IsrvDetalleVenta_insDetalleVenta_ENT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvDetalleVenta/insDetalleVenta_ENTResponse" message="tns:IsrvDetalleVenta_insDetalleVenta_ENT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="modDetalleVenta_ENT">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvDetalleVenta/modDetalleVenta_ENT" message="tns:IsrvDetalleVenta_modDetalleVenta_ENT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvDetalleVenta/modDetalleVenta_ENTResponse" message="tns:IsrvDetalleVenta_modDetalleVenta_ENT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="delDetalleVenta_ENT">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvDetalleVenta/delDetalleVenta_ENT" message="tns:IsrvDetalleVenta_delDetalleVenta_ENT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvDetalleVenta/delDetalleVenta_ENTResponse" message="tns:IsrvDetalleVenta_delDetalleVenta_ENT_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IsrvDetalleVenta" type="tns:IsrvDetalleVenta">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="recDetalleVenta_ENT">
      <soap:operation soapAction="http://tempuri.org/IsrvDetalleVenta/recDetalleVenta_ENT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="recDetalleVentaXId_ENT">
      <soap:operation soapAction="http://tempuri.org/IsrvDetalleVenta/recDetalleVentaXId_ENT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insDetalleVenta_ENT">
      <soap:operation soapAction="http://tempuri.org/IsrvDetalleVenta/insDetalleVenta_ENT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modDetalleVenta_ENT">
      <soap:operation soapAction="http://tempuri.org/IsrvDetalleVenta/modDetalleVenta_ENT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delDetalleVenta_ENT">
      <soap:operation soapAction="http://tempuri.org/IsrvDetalleVenta/delDetalleVenta_ENT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="srvDetalleVenta">
    <wsdl:port name="BasicHttpBinding_IsrvDetalleVenta" binding="tns:BasicHttpBinding_IsrvDetalleVenta">
      <soap:address location="http://localhost:54539/srvDetalleVenta.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>