old/EnhancerForBusiness/mvcInterfazUsuario/Connected Services/srvProveedor/srvProveedor2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54539/srvProveedor.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entidades" />
  <xs:element name="recProveedor_ENT">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="recProveedor_ENTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="recProveedor_ENTResult" nillable="true" type="q1:ArrayOfProveedor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recProveedorXId_ENT">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recProveedorXId_ENTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="recProveedorXId_ENTResult" nillable="true" type="q2:Proveedor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insProveedor_ENT">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pProveedor" nillable="true" type="q3:Proveedor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insProveedor_ENTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insProveedor_ENTResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modProveedor_ENT">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pProveedor" nillable="true" type="q4:Proveedor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modProveedor_ENTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modProveedor_ENTResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delProveedor_ENT">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pProveedor" nillable="true" type="q5:Proveedor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delProveedor_ENTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="delProveedor_ENTResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>