old/EnhancerForBusiness/mvcInterfazUsuario/Connected Services/srvProveedor/srvProveedor.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="srvProveedor" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:54539/srvProveedor.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:54539/srvProveedor.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:54539/srvProveedor.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entidades" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IsrvProveedor_recProveedor_ENT_InputMessage">
    <wsdl:part name="parameters" element="tns:recProveedor_ENT" />
  </wsdl:message>
  <wsdl:message name="IsrvProveedor_recProveedor_ENT_OutputMessage">
    <wsdl:part name="parameters" element="tns:recProveedor_ENTResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvProveedor_recProveedorXId_ENT_InputMessage">
    <wsdl:part name="parameters" element="tns:recProveedorXId_ENT" />
  </wsdl:message>
  <wsdl:message name="IsrvProveedor_recProveedorXId_ENT_OutputMessage">
    <wsdl:part name="parameters" element="tns:recProveedorXId_ENTResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvProveedor_insProveedor_ENT_InputMessage">
    <wsdl:part name="parameters" element="tns:insProveedor_ENT" />
  </wsdl:message>
  <wsdl:message name="IsrvProveedor_insProveedor_ENT_OutputMessage">
    <wsdl:part name="parameters" element="tns:insProveedor_ENTResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvProveedor_modProveedor_ENT_InputMessage">
    <wsdl:part name="parameters" element="tns:modProveedor_ENT" />
  </wsdl:message>
  <wsdl:message name="IsrvProveedor_modProveedor_ENT_OutputMessage">
    <wsdl:part name="parameters" element="tns:modProveedor_ENTResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvProveedor_delProveedor_ENT_InputMessage">
    <wsdl:part name="parameters" element="tns:delProveedor_ENT" />
  </wsdl:message>
  <wsdl:message name="IsrvProveedor_delProveedor_ENT_OutputMessage">
    <wsdl:part name="parameters" element="tns:delProveedor_ENTResponse" />
  </wsdl:message>
  <wsdl:portType name="IsrvProveedor">
    <wsdl:operation name="recProveedor_ENT">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvProveedor/recProveedor_ENT" message="tns:IsrvProveedor_recProveedor_ENT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvProveedor/recProveedor_ENTResponse" message="tns:IsrvProveedor_recProveedor_ENT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="recProveedorXId_ENT">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvProveedor/recProveedorXId_ENT" message="tns:IsrvProveedor_recProveedorXId_ENT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvProveedor/recProveedorXId_ENTResponse" message="tns:IsrvProveedor_recProveedorXId_ENT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insProveedor_ENT">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvProveedor/insProveedor_ENT" message="tns:IsrvProveedor_insProveedor_ENT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvProveedor/insProveedor_ENTResponse" message="tns:IsrvProveedor_insProveedor_ENT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="modProveedor_ENT">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvProveedor/modProveedor_ENT" message="tns:IsrvProveedor_modProveedor_ENT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvProveedor/modProveedor_ENTResponse" message="tns:IsrvProveedor_modProveedor_ENT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="delProveedor_ENT">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvProveedor/delProveedor_ENT" message="tns:IsrvProveedor_delProveedor_ENT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvProveedor/delProveedor_ENTResponse" message="tns:IsrvProveedor_delProveedor_ENT_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IsrvProveedor" type="tns:IsrvProveedor">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="recProveedor_ENT">
      <soap:operation soapAction="http://tempuri.org/IsrvProveedor/recProveedor_ENT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="recProveedorXId_ENT">
      <soap:operation soapAction="http://tempuri.org/IsrvProveedor/recProveedorXId_ENT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insProveedor_ENT">
      <soap:operation soapAction="http://tempuri.org/IsrvProveedor/insProveedor_ENT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modProveedor_ENT">
      <soap:operation soapAction="http://tempuri.org/IsrvProveedor/modProveedor_ENT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delProveedor_ENT">
      <soap:operation soapAction="http://tempuri.org/IsrvProveedor/delProveedor_ENT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="srvProveedor">
    <wsdl:port name="BasicHttpBinding_IsrvProveedor" binding="tns:BasicHttpBinding_IsrvProveedor">
      <soap:address location="http://localhost:54539/srvProveedor.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>