EnhancerForBusiness/mvcInterfazUsuario/Connected Services/srvCliente/srvCliente.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54539/srvCliente.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entidades" />
  <xs:element name="recCliente_ENT">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="recCliente_ENTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="recCliente_ENTResult" nillable="true" type="q1:ArrayOfCliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recClienteXId_ENT">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recClienteXId_ENTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="recClienteXId_ENTResult" nillable="true" type="q2:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insCliente_ENT">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pCliente" nillable="true" type="q3:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insCliente_ENTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insCliente_ENTResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modCliente_ENT">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pCliente" nillable="true" type="q4:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modCliente_ENTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modCliente_ENTResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delCliente_ENT">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pCliente" nillable="true" type="q5:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delCliente_ENTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="delCliente_ENTResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>