old/EnhancerForBusiness/mvcInterfazUsuario/Connected Services/srvCliente/srvCliente.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="srvCliente" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:54539/srvCliente.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:54539/srvCliente.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:54539/srvCliente.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entidades" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IsrvCliente_recCliente_ENT_InputMessage">
    <wsdl:part name="parameters" element="tns:recCliente_ENT" />
  </wsdl:message>
  <wsdl:message name="IsrvCliente_recCliente_ENT_OutputMessage">
    <wsdl:part name="parameters" element="tns:recCliente_ENTResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvCliente_recClienteXId_ENT_InputMessage">
    <wsdl:part name="parameters" element="tns:recClienteXId_ENT" />
  </wsdl:message>
  <wsdl:message name="IsrvCliente_recClienteXId_ENT_OutputMessage">
    <wsdl:part name="parameters" element="tns:recClienteXId_ENTResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvCliente_insCliente_ENT_InputMessage">
    <wsdl:part name="parameters" element="tns:insCliente_ENT" />
  </wsdl:message>
  <wsdl:message name="IsrvCliente_insCliente_ENT_OutputMessage">
    <wsdl:part name="parameters" element="tns:insCliente_ENTResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvCliente_modCliente_ENT_InputMessage">
    <wsdl:part name="parameters" element="tns:modCliente_ENT" />
  </wsdl:message>
  <wsdl:message name="IsrvCliente_modCliente_ENT_OutputMessage">
    <wsdl:part name="parameters" element="tns:modCliente_ENTResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvCliente_delCliente_ENT_InputMessage">
    <wsdl:part name="parameters" element="tns:delCliente_ENT" />
  </wsdl:message>
  <wsdl:message name="IsrvCliente_delCliente_ENT_OutputMessage">
    <wsdl:part name="parameters" element="tns:delCliente_ENTResponse" />
  </wsdl:message>
  <wsdl:portType name="IsrvCliente">
    <wsdl:operation name="recCliente_ENT">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvCliente/recCliente_ENT" message="tns:IsrvCliente_recCliente_ENT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvCliente/recCliente_ENTResponse" message="tns:IsrvCliente_recCliente_ENT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="recClienteXId_ENT">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvCliente/recClienteXId_ENT" message="tns:IsrvCliente_recClienteXId_ENT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvCliente/recClienteXId_ENTResponse" message="tns:IsrvCliente_recClienteXId_ENT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insCliente_ENT">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvCliente/insCliente_ENT" message="tns:IsrvCliente_insCliente_ENT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvCliente/insCliente_ENTResponse" message="tns:IsrvCliente_insCliente_ENT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="modCliente_ENT">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvCliente/modCliente_ENT" message="tns:IsrvCliente_modCliente_ENT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvCliente/modCliente_ENTResponse" message="tns:IsrvCliente_modCliente_ENT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="delCliente_ENT">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvCliente/delCliente_ENT" message="tns:IsrvCliente_delCliente_ENT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvCliente/delCliente_ENTResponse" message="tns:IsrvCliente_delCliente_ENT_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IsrvCliente" type="tns:IsrvCliente">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="recCliente_ENT">
      <soap:operation soapAction="http://tempuri.org/IsrvCliente/recCliente_ENT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="recClienteXId_ENT">
      <soap:operation soapAction="http://tempuri.org/IsrvCliente/recClienteXId_ENT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insCliente_ENT">
      <soap:operation soapAction="http://tempuri.org/IsrvCliente/insCliente_ENT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modCliente_ENT">
      <soap:operation soapAction="http://tempuri.org/IsrvCliente/modCliente_ENT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delCliente_ENT">
      <soap:operation soapAction="http://tempuri.org/IsrvCliente/delCliente_ENT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="srvCliente">
    <wsdl:port name="BasicHttpBinding_IsrvCliente" binding="tns:BasicHttpBinding_IsrvCliente">
      <soap:address location="http://localhost:54539/srvCliente.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>