old/EnhancerForBusiness/mvcInterfazUsuario/Connected Services/srvVenta/srvVenta.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="srvVenta" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:54539/srvVenta.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:54539/srvVenta.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:54539/srvVenta.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entidades" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IsrvVenta_recVenta_ENT_InputMessage">
    <wsdl:part name="parameters" element="tns:recVenta_ENT" />
  </wsdl:message>
  <wsdl:message name="IsrvVenta_recVenta_ENT_OutputMessage">
    <wsdl:part name="parameters" element="tns:recVenta_ENTResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvVenta_recVentaXId_ENT_InputMessage">
    <wsdl:part name="parameters" element="tns:recVentaXId_ENT" />
  </wsdl:message>
  <wsdl:message name="IsrvVenta_recVentaXId_ENT_OutputMessage">
    <wsdl:part name="parameters" element="tns:recVentaXId_ENTResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvVenta_insVenta_ENT_InputMessage">
    <wsdl:part name="parameters" element="tns:insVenta_ENT" />
  </wsdl:message>
  <wsdl:message name="IsrvVenta_insVenta_ENT_OutputMessage">
    <wsdl:part name="parameters" element="tns:insVenta_ENTResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvVenta_modVenta_ENT_InputMessage">
    <wsdl:part name="parameters" element="tns:modVenta_ENT" />
  </wsdl:message>
  <wsdl:message name="IsrvVenta_modVenta_ENT_OutputMessage">
    <wsdl:part name="parameters" element="tns:modVenta_ENTResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvVenta_delVenta_ENT_InputMessage">
    <wsdl:part name="parameters" element="tns:delVenta_ENT" />
  </wsdl:message>
  <wsdl:message name="IsrvVenta_delVenta_ENT_OutputMessage">
    <wsdl:part name="parameters" element="tns:delVenta_ENTResponse" />
  </wsdl:message>
  <wsdl:portType name="IsrvVenta">
    <wsdl:operation name="recVenta_ENT">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvVenta/recVenta_ENT" message="tns:IsrvVenta_recVenta_ENT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvVenta/recVenta_ENTResponse" message="tns:IsrvVenta_recVenta_ENT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="recVentaXId_ENT">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvVenta/recVentaXId_ENT" message="tns:IsrvVenta_recVentaXId_ENT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvVenta/recVentaXId_ENTResponse" message="tns:IsrvVenta_recVentaXId_ENT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insVenta_ENT">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvVenta/insVenta_ENT" message="tns:IsrvVenta_insVenta_ENT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvVenta/insVenta_ENTResponse" message="tns:IsrvVenta_insVenta_ENT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="modVenta_ENT">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvVenta/modVenta_ENT" message="tns:IsrvVenta_modVenta_ENT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvVenta/modVenta_ENTResponse" message="tns:IsrvVenta_modVenta_ENT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="delVenta_ENT">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvVenta/delVenta_ENT" message="tns:IsrvVenta_delVenta_ENT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvVenta/delVenta_ENTResponse" message="tns:IsrvVenta_delVenta_ENT_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IsrvVenta" type="tns:IsrvVenta">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="recVenta_ENT">
      <soap:operation soapAction="http://tempuri.org/IsrvVenta/recVenta_ENT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="recVentaXId_ENT">
      <soap:operation soapAction="http://tempuri.org/IsrvVenta/recVentaXId_ENT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insVenta_ENT">
      <soap:operation soapAction="http://tempuri.org/IsrvVenta/insVenta_ENT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modVenta_ENT">
      <soap:operation soapAction="http://tempuri.org/IsrvVenta/modVenta_ENT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delVenta_ENT">
      <soap:operation soapAction="http://tempuri.org/IsrvVenta/delVenta_ENT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="srvVenta">
    <wsdl:port name="BasicHttpBinding_IsrvVenta" binding="tns:BasicHttpBinding_IsrvVenta">
      <soap:address location="http://localhost:54539/srvVenta.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>