old/EnhancerForBusiness/mvcInterfazUsuario/Connected Services/srvDetalleCompra/srvDetalleCompra.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="srvDetalleCompra" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:54539/srvDetalleCompra.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:54539/srvDetalleCompra.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:54539/srvDetalleCompra.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entidades" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IsrvDetalleCompra_recDetalleCompra_ENT_InputMessage">
    <wsdl:part name="parameters" element="tns:recDetalleCompra_ENT" />
  </wsdl:message>
  <wsdl:message name="IsrvDetalleCompra_recDetalleCompra_ENT_OutputMessage">
    <wsdl:part name="parameters" element="tns:recDetalleCompra_ENTResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvDetalleCompra_recDetalleCompraXId_ENT_InputMessage">
    <wsdl:part name="parameters" element="tns:recDetalleCompraXId_ENT" />
  </wsdl:message>
  <wsdl:message name="IsrvDetalleCompra_recDetalleCompraXId_ENT_OutputMessage">
    <wsdl:part name="parameters" element="tns:recDetalleCompraXId_ENTResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvDetalleCompra_insDetalleCompra_ENT_InputMessage">
    <wsdl:part name="parameters" element="tns:insDetalleCompra_ENT" />
  </wsdl:message>
  <wsdl:message name="IsrvDetalleCompra_insDetalleCompra_ENT_OutputMessage">
    <wsdl:part name="parameters" element="tns:insDetalleCompra_ENTResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvDetalleCompra_modDetalleCompra_ENT_InputMessage">
    <wsdl:part name="parameters" element="tns:modDetalleCompra_ENT" />
  </wsdl:message>
  <wsdl:message name="IsrvDetalleCompra_modDetalleCompra_ENT_OutputMessage">
    <wsdl:part name="parameters" element="tns:modDetalleCompra_ENTResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvDetalleCompra_delDetalleCompra_ENT_InputMessage">
    <wsdl:part name="parameters" element="tns:delDetalleCompra_ENT" />
  </wsdl:message>
  <wsdl:message name="IsrvDetalleCompra_delDetalleCompra_ENT_OutputMessage">
    <wsdl:part name="parameters" element="tns:delDetalleCompra_ENTResponse" />
  </wsdl:message>
  <wsdl:portType name="IsrvDetalleCompra">
    <wsdl:operation name="recDetalleCompra_ENT">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvDetalleCompra/recDetalleCompra_ENT" message="tns:IsrvDetalleCompra_recDetalleCompra_ENT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvDetalleCompra/recDetalleCompra_ENTResponse" message="tns:IsrvDetalleCompra_recDetalleCompra_ENT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="recDetalleCompraXId_ENT">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvDetalleCompra/recDetalleCompraXId_ENT" message="tns:IsrvDetalleCompra_recDetalleCompraXId_ENT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvDetalleCompra/recDetalleCompraXId_ENTResponse" message="tns:IsrvDetalleCompra_recDetalleCompraXId_ENT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insDetalleCompra_ENT">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvDetalleCompra/insDetalleCompra_ENT" message="tns:IsrvDetalleCompra_insDetalleCompra_ENT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvDetalleCompra/insDetalleCompra_ENTResponse" message="tns:IsrvDetalleCompra_insDetalleCompra_ENT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="modDetalleCompra_ENT">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvDetalleCompra/modDetalleCompra_ENT" message="tns:IsrvDetalleCompra_modDetalleCompra_ENT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvDetalleCompra/modDetalleCompra_ENTResponse" message="tns:IsrvDetalleCompra_modDetalleCompra_ENT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="delDetalleCompra_ENT">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvDetalleCompra/delDetalleCompra_ENT" message="tns:IsrvDetalleCompra_delDetalleCompra_ENT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvDetalleCompra/delDetalleCompra_ENTResponse" message="tns:IsrvDetalleCompra_delDetalleCompra_ENT_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IsrvDetalleCompra" type="tns:IsrvDetalleCompra">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="recDetalleCompra_ENT">
      <soap:operation soapAction="http://tempuri.org/IsrvDetalleCompra/recDetalleCompra_ENT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="recDetalleCompraXId_ENT">
      <soap:operation soapAction="http://tempuri.org/IsrvDetalleCompra/recDetalleCompraXId_ENT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insDetalleCompra_ENT">
      <soap:operation soapAction="http://tempuri.org/IsrvDetalleCompra/insDetalleCompra_ENT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modDetalleCompra_ENT">
      <soap:operation soapAction="http://tempuri.org/IsrvDetalleCompra/modDetalleCompra_ENT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delDetalleCompra_ENT">
      <soap:operation soapAction="http://tempuri.org/IsrvDetalleCompra/delDetalleCompra_ENT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="srvDetalleCompra">
    <wsdl:port name="BasicHttpBinding_IsrvDetalleCompra" binding="tns:BasicHttpBinding_IsrvDetalleCompra">
      <soap:address location="http://localhost:54539/srvDetalleCompra.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>