old/EnhancerForBusiness/mvcInterfazUsuario/Connected Services/srvCompra/srvCompra.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="srvCompra" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:54539/srvCompra.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:54539/srvCompra.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:54539/srvCompra.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entidades" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IsrvCompra_recCompra_ENT_InputMessage">
    <wsdl:part name="parameters" element="tns:recCompra_ENT" />
  </wsdl:message>
  <wsdl:message name="IsrvCompra_recCompra_ENT_OutputMessage">
    <wsdl:part name="parameters" element="tns:recCompra_ENTResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvCompra_recCompraXId_ENT_InputMessage">
    <wsdl:part name="parameters" element="tns:recCompraXId_ENT" />
  </wsdl:message>
  <wsdl:message name="IsrvCompra_recCompraXId_ENT_OutputMessage">
    <wsdl:part name="parameters" element="tns:recCompraXId_ENTResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvCompra_insCompra_ENT_InputMessage">
    <wsdl:part name="parameters" element="tns:insCompra_ENT" />
  </wsdl:message>
  <wsdl:message name="IsrvCompra_insCompra_ENT_OutputMessage">
    <wsdl:part name="parameters" element="tns:insCompra_ENTResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvCompra_modCompra_ENT_InputMessage">
    <wsdl:part name="parameters" element="tns:modCompra_ENT" />
  </wsdl:message>
  <wsdl:message name="IsrvCompra_modCompra_ENT_OutputMessage">
    <wsdl:part name="parameters" element="tns:modCompra_ENTResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvCompra_delCompra_ENT_InputMessage">
    <wsdl:part name="parameters" element="tns:delCompra_ENT" />
  </wsdl:message>
  <wsdl:message name="IsrvCompra_delCompra_ENT_OutputMessage">
    <wsdl:part name="parameters" element="tns:delCompra_ENTResponse" />
  </wsdl:message>
  <wsdl:portType name="IsrvCompra">
    <wsdl:operation name="recCompra_ENT">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvCompra/recCompra_ENT" message="tns:IsrvCompra_recCompra_ENT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvCompra/recCompra_ENTResponse" message="tns:IsrvCompra_recCompra_ENT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="recCompraXId_ENT">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvCompra/recCompraXId_ENT" message="tns:IsrvCompra_recCompraXId_ENT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvCompra/recCompraXId_ENTResponse" message="tns:IsrvCompra_recCompraXId_ENT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insCompra_ENT">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvCompra/insCompra_ENT" message="tns:IsrvCompra_insCompra_ENT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvCompra/insCompra_ENTResponse" message="tns:IsrvCompra_insCompra_ENT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="modCompra_ENT">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvCompra/modCompra_ENT" message="tns:IsrvCompra_modCompra_ENT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvCompra/modCompra_ENTResponse" message="tns:IsrvCompra_modCompra_ENT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="delCompra_ENT">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvCompra/delCompra_ENT" message="tns:IsrvCompra_delCompra_ENT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvCompra/delCompra_ENTResponse" message="tns:IsrvCompra_delCompra_ENT_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IsrvCompra" type="tns:IsrvCompra">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="recCompra_ENT">
      <soap:operation soapAction="http://tempuri.org/IsrvCompra/recCompra_ENT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="recCompraXId_ENT">
      <soap:operation soapAction="http://tempuri.org/IsrvCompra/recCompraXId_ENT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insCompra_ENT">
      <soap:operation soapAction="http://tempuri.org/IsrvCompra/insCompra_ENT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modCompra_ENT">
      <soap:operation soapAction="http://tempuri.org/IsrvCompra/modCompra_ENT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delCompra_ENT">
      <soap:operation soapAction="http://tempuri.org/IsrvCompra/delCompra_ENT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="srvCompra">
    <wsdl:port name="BasicHttpBinding_IsrvCompra" binding="tns:BasicHttpBinding_IsrvCompra">
      <soap:address location="http://localhost:54539/srvCompra.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>